<app-dialog-wrapper [icon]="'email'" [hideMessage]="true" [title]="this.textService.text.resetPassword">
  <div clas="wrapper" *ngIf="!showSpinner">
    <div class='emailContainer'> {{this.textService.text.sendPasswordResetTo}}
      <br>
      <span class='appThemeText'>{{this.data.email}}</span> ?
    </div>
    <div class="buttonGroup">
      <button class='greenButton' (click)="attemptToSendResetEmail()" type="submit" mat-raised-button id="submitButton">
        <div class='buttonFlexManager' fxLayout="row">
          <div class='buttonIconWrapper'>
            <mat-icon>email</mat-icon>
          </div>
          <div class='buttonTextWrapper'>
            &nbsp; {{this.textService.text.send}}
          </div>
        </div>
      </button>
      <button class="blueButton buttonGroupButton" mat-button (click)="this.dialogRef.close()">
        <div class='buttonFlexManager' fxLayout="row">
          <div class='buttonIconWrapper'>
            <mat-icon>cancel_presentation</mat-icon>
          </div>
          <div class='buttonTextWrapper'>
            &nbsp; {{this.textService.text.close}}
          </div>
        </div>
      </button>
    </div>
  </div>
  <app-spinner-wheel *ngIf="showSpinner" [spinnerMessage]="this.textService.text.sendingPasswordResetEmail">
  </app-spinner-wheel>
</app-dialog-wrapper>